<!-- views/partials/head.ejs -->
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Required meta tags -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Other CSS -->
<link rel="stylesheet" href="/CPPG/assets/css/layout.css"/>
<link rel="icon" href="/CPPG/assets/images/icons/logo_if.jpeg">
<title>CPPG</title>