<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Something went wrong</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">  
	<link rel="stylesheet" type="text/css" href="/stylesheets/404.css">  

  
</head>

<body>

  <div class="overlay"></div>
<div class="terminal">
	<h1>Error <span class="errorcode">404</span></h1>
	<h1>Something wrong is not <span class="errorcode">right</span></h1>
  <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
  <p class="output">Please try <a href="/stackedBar">this link</a>
  <br />
    <p class="output">Error described: <%= error %></p>
  <p class="output">Good luck</p>
</div>
  
  

</body>

</html>