<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="/CPPG/stylesheets/searchProceedings.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/CPPG/stylesheets/cloud.css">
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<section class="content">
			<br>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
						<div class="table-container">
							<table class="table table-filter">
								<tbody>
										<h1>Áreas de Publicação</h1>
										<div class="cloud">
											<%- cloud %>
										</div>
								</tbody>
							</table>
						</div>
				</div>
				<div class="content-footer">
					<p>
						Page © - 2016 <br>
						Powered By <a href="https://www.facebook.com/tavo.qiqe.lucero" target="_blank">TavoQiqe</a>
					</p>
				</div>
			</div>
		</section>
		
	</div>
</div>