.cloud {
    padding: 0 1.5em;
    white-space: normal;
}

.tag {
    border-radius: 15px !important;
    color: white;
    background-color: green;
    padding: 0 0.5em;
    margin: 0.1em 0.15em;
}

.tag0 {
    font-size: 15px;
}

.tag1 {
    font-size: 20px;
}

.tag2 {
    font-size: 30px;
}

.tag3 {
    font-size: 40px;
}
.tag4 {
    font-size: 50px;
}
.tag5 {
    font-size: 60px;
}