/* GENERAL STYLES */

html, body {
    height: 100%;
}

/* PARALLAX STYLES */
.parallax { 
    /* The image used */
    background-image: url("/CPPG/assets/images/campus-1.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}