<!DOCTYPE <!DOCTYPE html>
<html lang="pt-br">

<head>
    <% include ../partials/head %>
</head>

<body class="pt-5">
    <header class="mb-5">
        <% include ../partials/navbar %>
    </header>

    <main>
        <div class="container">
            <div class="col-sm-6">
                <h2>Fluxo de Projetos</h2>
                <p>Todo projeto desenvolvido ou em desenvolvimento no IFMG Campus Sabará (com bolsista ou voluntários), deverá
                    ser devidamente cadastrado no link abaixo. Este cadastro é garantia da certificação e emissão de declarações
                    dos orientadores, co-orientadores, bolsistas e voluntários. Para novas propostas o cadastro por si só
                    não implica na aprovação do projeto, sendo o mesmo, avaliado conforme previsto em Edital.</p>
            </div>
            <div class="col-sm-2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque recusandae culpa rem nesciunt eaque exercitationem
                    beatae sint commodi laboriosam iste tenetur asperiores eos, veritatis iusto deserunt autem sapiente,
                    accusantium molestiae!</p>
            </div>
        </div>
    </main>



    <% include ../partials/footer %>

</body>

</html>