<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body class="pt-5">
    <header class="mb-5">
        <% include ../partials/navbar %>
    </header>
    <main role="main" class="container">

        <h1 class="text-center mt-2">CISP</h1>

        <h2 class="featurette-heading my-2">O que é o CISP?</h2>
        <br> O <i class="font-italic">Ciclo de Seminários de Pesquisa</i> (
        <b>CISP</b>) do IFMG-Sabará foi criado em agosto de 2018 tendo como objetivo proporcionar um ambiente de discussões
        científicas entre os servidores, discentes e a comunidade externa do campus, pensando e discutindo sobre a resolução
        de problemas específicos via métodos científicos, além de manter ativos os grupos de pesquisa existentes no campus.
        Para a participação nos seminários não há necessidade de cadastro ou registro prévio. Neste ambiente os participantes
        contribuem com um lanche coletivo, propiciando um ambiente descontraído como nos moldes do
        <i class="font-italic">pint of science</i>, sendo os seminários ocorrendo no espaço interno do campus e o lanche como um café da tarde.
        
        <h2 class="featurette-heading my-2">Apresentações</h2>
        <br>O <b>CISP</b> foi iniciado em setembro de 2018 e até o momento quatro pesquisadores compartilharam suas pesquisas com
        discentes, servidores e comunidade externa do campus. Em setembro o
        <a href="http://lattes.cnpq.br/4469934696623908">Prof. Me. Daniel Conrado</a> apresentou sua pesquisa sobre a elaboração de um jogo digital terapêutico para apoiar
        o tratatamento e bem-estar de crianças com câncer. Em outubro o
        <a href="http://lattes.cnpq.br/6792126176343478">Prof. Dr. Daniel Rocha</a> abordou a bioengenharia e a aplicação dos conhecimentos de engenharia no desenvolvimento
        de tecnologias para auxiliar os seres vivos. No dia 14 de novembro a bacharelanda em Sistemas de Informação do IFMG-Sabará,
        <a href="http://lattes.cnpq.br/9305919692112746">Nayane França</a> apresentou sua pesquisa para identificação de perfis ansiosos no meio acadêmico utilizando técnicas
        de ciências de dados. No dia 28 de novembro foi a vez de uma convidada externa, a
        <a href="http://lattes.cnpq.br/6972706454904139">Profª. Drª. Lillia Barsante</a> que falou sobre modelagem matemática do ciclo do
        <i>Aedes</i>, tema de seu doutorado no CEFET-MG e que vem trabalhando em projetos de pesquisa com professores e alunos
        do IFMG-Sabará. O seminário ocorreu em consoante à "Semana Nacional de Combate ao
        <i>Aedes</i>", que ocorre do dia 25 a 30 de novembro. O
        <b>CISP 2018</b> se encerrará no dia 12 de dezembro com a apresentação da
        <a href="http://lattes.cnpq.br/2858105725830291">Profª. Drª. Camila Pereira</a>. Neste último seminário do ano a Coordenação de Pesquisa, Inovação e Pós-graduação
        do IFMG-Sabará anunciará novidades sobre o
        <b>CISP 2019</b>. A proposição da criação destes ciclos de seminários, bem como sua organização foi idealizada pelos
        professores do campus: Carlos Alexandre, Cristiane Norbiato e Daniel Conrado.


        <!-- PRÓXIMAS APRESENTAÇÕES -->
        <h2 class="featurette-heading my-2">Próximas Apresentações</h2>
        <div class="row mb-2">
            <% for(presentation of presentations) { %>
          <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary"><%= presentation[1] %></strong>
                <h3 class="mb-0"><%= presentation['apresentador'] %></h3>
                <div class="mb-1 text-muted"><%= presentation['data'] %></div>
                <p class="card-text mb-auto"><%= presentation['titulo'] %></p>
                <a href="#" class="stretched-link">Continue reading</a>
              </div>
              <div class="col-auto d-none d-lg-block">
                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              </div>
            </div>
          </div>
          <% } %>
        </div>
        
        <!-- FIM PRÓXIMAS APRESENTAÇÕES -->

        <!-- GALERIA DE APRESENTAÇÕES -->

        <h2 class="featurette-heading my-2">Galeria de Fotos das Apresentações</h2>

        <div class="container">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/cisp/DanielC_01.jpg" data-holder-rendered="true">
                      <div class="card-body">
                        <p class="card-text">Elaboração de um jogo digital terapêutico para apoiar o tratatamento e bem-estar de crianças com câncer - Prof. Me. Daniel Conrado</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-success">Ver mais</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/cisp/DanielR_01.jpg" data-holder-rendered="true">
                      <div class="card-body">
                        <p class="card-text">Bioengenharia e a aplicação dos conhecimentos de engenharia no desenvolvimento
                                de tecnologias para auxiliar os seres vivos - Prof. Dr. Daniel Rocha</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-success">Ver mais</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/cisp/Nayane_02.jpg" data-holder-rendered="true">
                      <div class="card-body">
                        <p class="card-text">Identificação de perfis ansiosos no meio acadêmico utilizando técnicas de ciências de dados - Nayane França</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-success">Ver mais</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
      
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="assets/images/cisp/Lillia_02.jpg" data-holder-rendered="true">
                      <div class="card-body">
                        <p class="card-text">Modelagem matemática do ciclo do <i>Aedes</i> - Profª. Drª. Lillia Barsante</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-success">Ver mais</button>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>

          <!-- FIM GALERIA DE APRESENTAÇÕES -->

        <!--FOOTER-->
        <footer class="container">
            <p class="float-right"><a href="#">Voltar ao topo</a></p>
            <p>© 2018 IFMG Campus Sabará</p>
        </footer>
    </main>
    <!-- Bootstrap core JavaScript -->
    <% include ../partials/footer %>

</body>