<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include ../partials/head %>
    </head>
      <body>
    
        <header>
			<% include ../partials/navbar %>
			
			<link rel="stylesheet" href="/CPPG/assets/css/geraCertificado.css">
			
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="/CPPG/assets/bootstrap-select-1.13.2/dist/css/bootstrap-select.min.css">
        </header>
    
        <main role="main" class="mt-5">
    
			<div class="row">
				<section class="content mx-auto my-5 text-center">
					<br>
					<div>
							<div class="card">
									<div class="card-header">
											<h5 class="card-title inset-text">Gerar um certificado</h5>
									</div>
									<div class="card-body">
												  
										<h4>Professor:</h4>
										<form action="/CPPG/pdf" method="POST" target="_blank">
											<div>
												<select name="teacherInfo" class="selectpicker" id="selTeacher" data-live-search="true" title="Selecione um discente.." required>
													<% for (teacher of teachers){%>
														<option data-tokens= "<%= teacher %> "> <%= teacher %></option>
													<% } %>
												</select>
											</div>
											<br>
											<div id="selectMinYear">
												<h4>Ano referente ao início do projeto:</h4>
												<select name="researchYearsRange" class="selectpicker" id="selYear" data-live-search="true" title="Primeiro, selecione o professor" multiple required>
												</select>
											</div>
											<button type="submit" class="btn btn-success navbar-btn my-3">Gerar</button>
										</form>
									</div>
								  </div>
						</div>
					</div>
				</section>
			</div>    
    
        </main>
	
		<!-- Bootstrap core JavaScript -->
		<% include ../partials/footer %>
		
		<script type="module" src="/CPPG/assets/js/geraCertificado.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="/CPPG/assets/bootstrap-select-1.13.2/dist/js/bootstrap-select.min.js"></script>