<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="/CPPG/assets/css/indicadores.css"/>
    </head>
      <body class="pt-5">
    
        <header class="mb-5">
			  <% include ../partials/navbar %>
        </header>
    
        <main role="main" class="container">
    
    
            <!-- START THE FEATURETTES -->
            <h1 class="text-center mt-2">Indicadores Gráficos</h1>

            <hr class="featurette-divider">
    
            <div class="row featurette pt-5">
              <div class="col-md-5">
                <h2 class="featurette-heading mt-0 mt-md-2">Bolsas Estudantis. <span class="text-muted">Veja a distribuição das bolsas do IFMG Campus Sabará</span></h2>
                <p class="lead my-4">No gráfico a seguir, você pode observar o mapeamento das assistências estudantis para projetos de pesquisa, financiadas internamente ou por outras organizações.</p>
              </div>
              <div class="col-md-7">
                  <div id="studentsAssistanceChart" style="width:100%; height:400px;"></div>
              </div>
            </div>
    
            <hr class="featurette-divider">

            <div class="row featurette pt-5">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165ab0556dc%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165ab0556dc%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.8984375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
              </div>
            </div>
    
            <hr class="featurette-divider">

            <div class="parallax"></div>
    
            <div class="row featurette pt-5">
              <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_165ab0556e0%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_165ab0556e0%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22184.8984375%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <!-- /END THE FEATURETTES -->
    
          </div><!-- /.container -->
    
    
          <!-- FOOTER -->
          <footer class="container">
            <p class="float-right"><a href="#">Voltar ao topo</a></p>
            <p>© 2018 IFMG Campus Sabará</p>
          </footer>
        </main>
	
		<!-- Bootstrap core JavaScript -->
    <% include ../partials/footer %>
    
    <!-- Other Js -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <%- include('../../public/assets/js/charts.ejs', 
      {
        cloud: cloud,
        years: years,
        pibicAssistance: pibicAssistance,
        pibicJrAssistance: pibicJrAssistance,
        pibitAssistance: pibitAssistance,
        pibexAssistance: pibexAssistance,
        volunteerAssistance: volunteerAssistance
      });
    %>
</html>