<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% include ../partials/head %>
</head>
<body class="pt-5">
    <header class="mt-5">
        <% include ../partials/navbar %>
    </header>
    <main role="main" class="container">
        <h1 class="text-center mt-2">presentation['titulo']</h1>
        <h3 class="mb-0">presentation['autor']</h3>
        <div class="mb-1 text-muted">
                <% var now = presentation['data']; %>
                <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %>
                <%= now.toLocaleDateString('en-GB',options); %> <br>
                <%= now.toLocaleTimeString(); %> <br>
                <%= presentation['local']; %>
        </div>
        <h2 class="featurette-heading my-2">Resumo da Apresentação</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum iure possimus reprehenderit minima nemo tempora ut aut neque quas, enim quos recusandae sapiente, laborum, nesciunt nobis impedit ipsum quibusdam voluptates!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores reiciendis commodi nihil, laudantium iure a inventore recusandae excepturi, totam adipisci animi. Nobis atque iste ullam nihil non, quod nam inventore.</p>
        <h2 class="featurette-heading my-2">Sobre o(a) Apresentador(a)</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non, possimus ipsam? Aspernatur debitis nobis placeat ipsa itaque adipisci cumque, quis aliquam inventore velit voluptatibus possimus quaerat dicta consectetur sed eligendi.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nisi quo corrupti ullam consequuntur ipsam recusandae, incidunt similique minima unde aspernatur earum eum voluptate, fugit dignissimos tempora blanditiis perspiciatis debitis?</p>

        <!--FOOTER-->
        <footer class="container">
                <p class="float-right">
                  <a href="#">Voltar ao topo</a>
                </p>
                <p>© 2018 IFMG Campus Sabará</p>
        </footer>

    </main>    
</body>
</html>